* {
    box-sizing: border-box;
    }
    
     body { /* Basic styling */
    margin: 0;
    }
    
     .container { /* Basic styling */
    background-color: #333;
    color: white;
    padding: 25px;
    }
    
     /* Important */
    .home {
    min-height: 100vh;
    
     display: flex;
    flex-direction: column;
    }
    
     .content {
    flex-grow: 1;
    }