body{
    background-color: #f0f0f0;
}
.home {
    min-height: 100vh;
    
     display: flex;
    flex-direction: column;
    }
    
.content {
    flex-grow: 1;
    
    }

.linksNav{
    width: 100%;
    height:50px ;
    background-color: #626562;
    display: flex;
    align-items: center;
    justify-content: space-around;
   
}

.linkk{
    color: white;
    font-size: 28px;
    text-decoration: none;
}
.linkk:hover{
color:black;
}

.photoPortada{
    background-image: url(../../image/cancerdemama.jpg);
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 285px; 
} 

/* da estilos a todos los titulos del texto */
.colors{
    color: rgb(224, 150, 162);
    font-weight: bolder;
    font-style:italic;
}


/*............................ APARTADO INICIO EN HOME................. */


/* divide la pág en dos columnas */
.InicioTwoColumns{
    display: grid;
    grid-template-columns: 300px 1fr;
    display: flex;
    justify-content: center;
    
}

/* columna derecha de la pág inicio */
.columnrigth{
   width: 75%;
   margin-left: 20px;
   margin-right: 20px;
   background-color: white;
   padding: 15px;
   margin-top: 20px;
  border-radius: 50px;
 
}
/* columna izquierda de la pág inicio */
.columnleftt {
    margin-left: 20px;
    margin-top: 25px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    margin-right: 40px;
    background-color: white;
    padding:35px;
    border-radius: 50px;
   
}
.columnleftt li{
    margin-bottom: 15px;
    text-align: justify;
    
}
.columnleftt li a{
    text-decoration: none;
    color: black;
    font-family: 'Times New Roman', Times, serif;

}
.columnleftt li a:hover{
    color:rgb(224, 150, 162);
 
   
}

/* estilos del título de la pág inicio columna derecha */
.title1 {
    margin-top: 60px;
    margin-bottom: 100px;
    margin-left: 80px;
    margin-right: 80px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;

  
   

}
.title1 h2{
    margin-bottom: 20px;
   text-decoration: 3px underline;
    color: rgb(224, 150, 162);
    font-weight: bolder;
   
}

/* estilos del contenido de la columna derecha */
.witdhDiv ul li {
   margin-bottom: 15px;
    text-align: start;
    text-align: justify;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    

}
.styleParagraph p{
    text-align: start;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}
.marginBottom{
    margin-bottom:40px;
}



/* .......................APARTADO DE CUIDE SU SALUD EN HOME.................. */

/* estilos de las cards */
.card-container {
    flex-grow: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr ;
    gap: 30px;
    padding: 40px;
   
   
    
}
.card-container .card{
    font-size: 15px;
    text-align: start;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
  
}
.card-container .card .card-body h4{
    text-align: center;
    color: rgb(224, 150, 162);
    font-weight:bolder;
}



/* contenedor del titulo y párrafo */
.divPadre{
   margin-top: 50px;
   font-family: 'Times New Roman', Times, serif;
   margin-left: 65px;
   margin-right: 65px;
   background-color: white;
   border-radius: 20px;
   padding: 30px;
   color:black;
    
}
.divPadre h2{
    color:rgb(224, 150, 162) ;
    font-weight: bolder;
}

/* ..............APARTADO ENLACES DE INTERÉS........ */

/* divide la pág en 3 columnas después del titulo */
.threeColumnsButtom{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}

/* titulo con breve descripción  */
.title3{
    margin-top: 20px;
    margin-left: 80px;
    margin-right: 80px;
    color:slategray;
    font-family:'Times New Roman', Times, serif;

   
}

.logo2{
    height: 290px;
    width: 300px;
}

/* botones de enlaces hacia otras webs */
.button5{
    width:280px;
    height: 55px;
    background-color:#e9967a;
    border:none;
    border-radius: 20px;
    margin-top: 25px;
    font-size: 20px;
    color: white;
}
.button5:hover{
    background-color:#626562;
    color:white
}
.letterLink{
  
    text-decoration: none;
    font-weight: bolder;
}





/* ..................APARTADO DE CHAT EN HOME ...................*/



/* divide el chat en dos columnas */
.divTwoColumns{
  
    background-color:	#b8aba6;
    margin:15px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 280px 1fr;
  
} 

/* columna izquierda de contactos */
.contactsleft{
    background-color:	#ffe4c4;
    margin: 20px;
    border-radius: 20px;
    

} 
/* columna derecha del chat */
.chatRigth{
 
    background-color:	#ffe4c4;
    margin:20px;
    border-radius: 20px;

} 

.cardfixed{
     overflow-y: scroll; 
     height: 70vh; 
        }



/* titulo del chat, columna derecha */
.card-header {
    display: flex;
    justify-content:start;
    align-items: center;
    background-color: transparent;
} 


/* h4.card-title {
    font-size: 32px;
} 


  .media-chat .media-body {
    flex: initial;
    display: table
}  


.media {
    padding: 16px 12px;

}

 .media-chat.chat-reverse .media-body p {
    float: right;
    clear: right;
    background-color: #34cfe4;
    color: #fff;
    font-size: 15px;
    font-weight: bolder;
} 

.media-chat .media-body p {
    padding: 6px 8px;
    margin: 4px 0;
    background-color: #f5f6f7;
    border-radius: 3px
} */

/* titulo de la lista de conectados */
/* .contactsleft h2{
    font-size: 32px;
    font-weight: bolder;
} */











