
/* ocupa toda la página restante desde la navbar  */
.d-flex{
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* hace que la navbar esté fija con esas medidas  */
.flex-grow{
    flex-grow: 1;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* estilo de navbar */
.topnav {
  background-color: #625E60;
  height: 70px;
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

/* Logo izquierdo de la Navbar */
.logoLeft{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;

}
.ribbon{
  color:rgb(230, 106, 126);

}

.buttonNav{
  border-radius: 15px;
  border: none;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: bolder;  
}

/* links  mouse-over */
.topnav a:hover {
  color: black;

}

/* estilos input navbar */
.topnav .input2 {

  margin-left: 10px;
  border: none;
  outline: none;
  width: 200px; 
  height: 40px;
}

.login-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* estilos del botón Entrar con mouse:hover*/
.topnav .login-container button {
  font-size: 17px;
  border: none;
  margin-left: 10px;
  border-radius: 8px;
  background:white;
 
}

.topnav .login-container button:hover {
  background: #ccc;
}


/* tamaño y estilos de los input del formulario */
input{
  width: 400px;
  height: 40px;
  border-radius: 10px;
  border: none;
  outline: none; 
  padding: 12px;
   
}

/* separación entre los inputs del formulario */
.marginInput{
  margin-top: 25px;
    
}

/* botón de crear cuenta */
.button3{
  width: 70%;
  height: 55px;
  background-color: rgb(238, 136, 153);
  border-radius: 12px;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  margin-top: 20px
}
.button3:hover{
  background-color: #625E60;
}
/* titulo de crear cuenta */
.title{
  color: white;
  font-weight: bolder;
  
}

