
.flexGrow{
  flex-grow: 1;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dflex{
  display: flex;
  flex-direction: column;

  height: 100%;
}

/* estilos del botón de recuperar cuenta */
.button4{
  margin-top: 30px;
  width: 50%;
  height: 50px;
  border-radius: 10px;
  background-color:#625e60;
  border:none;
  cursor: pointer;
  color:white;
  font-size: 20px;
}
.button4:hover{
  background-color: rgb(238, 136, 153);
}

/* imagen de fondo */
.imgFondo{
  background-image:url(../../image/sarah-cervantes-BOBMNKVry0Q-unsplash.jpg);
  background-size: cover;
  
}

/* estilos a las letras del titulo */
.colorletters{
  color: white;
}
.colorletters1{
  color: white;
  font-size: 18px;
}

 
